@model IEnumerable<AGH.User>

@{
    ViewBag.Title = "Users List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table class="table table-striped">
    <thead class="bg-info">
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Email
            </th>
            <th>
                ID Number
            </th>
            <th>
                Role
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Phone_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Type.Type)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new { id = item.ID }) |
                @Html.ActionLink("Details", "UserDetails", new { id = item.ID }) |
                @Html.ActionLink("Delete", "DeleteUser", new { id = item.ID })
            </td>
        </tr>
    }
</table>

<div style="direction:rtl">
    @Html.ActionLink("Add a new user", "CreateUser", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Export To PDF", "DownloadPDF", null, new { @class = "btn btn-info" })
</div>